<h1>Listing profiles</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.user_id %></td>
    <%= action_list profile, edit_profile_path(profile) %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
