<%= render_header %>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.user_id %></td>
    <%= action_links profile %>
  </tr>
<% end %>
</table>

<br />

<%= new_link %>
