<h1>Listing users</h1>

<table>
  <tr>
    <th>User name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.user_name %></td>
    <%= action_list user, edit_user_path(user) %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
