<%= render_header %>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attachments.each do |attachment| %>
  <tr>
    <td><%= attachment.user_id %></td>
    <%= action_links attachment, edit_attachment_path(attachment) %>
  </tr>
<% end %>
</table>

<br />

<%= new_link new_attachment_path %>