<h1>Listing walls</h1>

<table>
  <tr>
    <th>User</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @walls.each do |wall| %>
  <tr>
    <td><%= wall.user.email %></td>
    <td><%= wall.message %></td>
    <%= action_list wall, edit_wall_path(wall) %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wall', new_wall_path %>
